.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modalContent {
    background-color: #E3F0D3;
    padding: 40px;
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modalContent h2 {
    color: #080808;
    margin-bottom: 20px;
}

.modalContent p {
    color: #080808;
    margin-bottom: 30px;
}

.modalButtons {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.deleteUserName {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.deleteBtn {
    background-color: #E3F0D3;
    color: #ED2224;
    padding: 5px 20px;
    border-radius: 10px;
    border: 2px solid #ED2224;
    cursor: pointer;
    font-family: "Micro 5", sans-serif;
    font-size: 30px;
}

.cancelBtn {
    background-color: #E3F0D3;
    color: #71C389;
    padding: 5px 20px;
    border-radius: 10px;
    border: 2px solid #71C389;
    cursor: pointer;
    font-family: "Micro 5", sans-serif;
    font-size: 30px;
}
